# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/key.properties
android/app/google-services.json
android/.gradle/
android/app/release/

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# IDE
.idea/
.vscode/
*.iws
*.ipr
